In [1]:
import numpy as np
import pandas as pd

In [2]:
scraping_date1, scraping_date2 = '_26_04_2021', '_17_05_2021'
df1 = pd.read_csv('./data/full_profiles'+scraping_date1+'.csv')
df2 = pd.read_csv('./data/full_profiles'+scraping_date2+'.csv')
df1['scraping_date'] = len(df1)*['26-04-2021']
df2['scraping_date'] = len(df2)*['17-05-2021']

In [3]:
names1, names2 = np.array(df1.name), np.array(df2.name)
genders = []
for name in names2:
    if name in names1:
        gender = df1[df1.name==name]['gender'].values[0]
        genders.append(gender)
    else:
        genders.append('unknown')
df2 = df2.assign(gender=genders)

In [4]:
panel_data = pd.DataFrame(columns=df1.columns)
lost_profiles = pd.DataFrame(columns=df1.columns)
new_profiles = pd.DataFrame(columns=df1.columns)

In [5]:
for name in names2:
    if name in names1:
        panel_data = panel_data.append(df1[df1.name==name], ignore_index=True)
        panel_data = panel_data.append(df2[df2.name==name], ignore_index=True)
    else:
        new_profiles = new_profiles.append(df2[df2.name==name])

for name in names1:
    if name not in names2:
        lost_profiles = lost_profiles.append(df1[df1.name==name])

In [6]:
new_profiles, lost_profiles = new_profiles.reset_index(drop=True), lost_profiles.reset_index(drop=True)

In [8]:
len(panel_data), len(new_profiles), len(lost_profiles)

(18801, 733, 735)

In [9]:
panel_data

,name,languages,description,rating,nb_reviews,Price/hour in USD,skills,industry_expertise,nb_projects,nb_buyers,last_active,gender,city,country,score,scraping_date
0,Maria H.,['English'],We are a small UK based company speciaIising i...,4.9,4694,34.74,"['animation', 'graphics design', 'brand design...","['IT', 'Internet', 'Marketing', 'Media', 'Tech...",7672,4168,26-04-2021,female,Sheffield,United Kingdom,10.043,26-04-2021
1,Maria H.,['English'],We are a small UK based company speciaIising i...,4.9,4745,35.21,"['animation', 'graphics design', 'brand design...","['IT', 'Internet', 'Marketing', 'Media', 'Tech...",7727,4204,17-05-2021,female,Sheffield,United Kingdom,10.054,17-05-2021
2,Jessica O'Neill,['English'],Your blog content and website copy need to be ...,5.0,1215,76.42,"['editing', 'proofreading', 'transcription', '...","['PR', 'Sales', 'Travel']",1541,878,26-04-2021,female,City of London,United Kingdom,8.712,26-04-2021
3,Jessica O'Neill,['English'],Your blog content and website copy need to be ...,5.0,1220,77.47,"['editing', 'proofreading', 'transcription', '...","['PR', 'Sales', 'Travel']",1546,880,17-05-2021,female,City of London,United Kingdom,8.716,17-05-2021
4,Scott Anfield,['English'],An experienced and professional writer based i...,4.9,1719,20.84,"['article', 'product description', 'content wr...","['Advertising', 'Education', 'Marketing', 'Sal...",1750,1071,25-04-2021,male,Doncaster,United Kingdom,9.039,26-04-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18796,Morteza Rezvani,"['English', 'Persian']",NaN,0.0,0,10.00,"['video editing', 'content writing', 'online a...","['Advertising', 'Marketing']",0,0,25-04-2021,unknown,Manila,Philippines,0.000,26-04-2021
18797,Morteza Rezvani,"['English', 'Persian']",NaN,0.0,0,10.00,"['video editing', 'content writing', 'online a...","['Advertising', 'Marketing']",0,0,25-04-2021,unknown,Scarborough,United Kingdom,0.000,17-05-2021
18798,Paul Waters,[],"Sony award winning creative writer, radio, TV ...",5.0,6,41.68,"['editing', 'proofreading', 'copywriting', 'jo...",[],5,5,28-09-2020,male,London,United Kingdom,3.434,26-04-2021
18799,Paul Waters,[],"Sony award winning creative writer, radio, TV ...",5.0,6,42.25,"['editing', 'proofreading', 'copywriting', 'jo...",[],5,5,28-09-2020,male,London,United Kingdom,3.434,17-05-2021
18800,Paul Waters,['English'],"I'm an experienced health, fitness, and wellbe...",0.0,0,45.07,"['content writing', 'technical writing', 'blog...","['Education', 'Healthcare', 'Leisure', 'Sport'...",0,0,18-02-2021,male,Radstock,United Kingdom,0.000,17-05-2021

In [10]:
panel_data.to_csv('./data/panel_data_04_05.csv', index=False)

In [11]:
lost_profiles.to_csv('./data/lost_profiles_04_05.csv', index=False)
new_profiles.to_csv('./data/new_profiles_04_05.csv', index=False)